:root {
    --pure-white: hsl(0,0%,100%);
    --pure-black: hsl(0,0%,0%);

    --blue-dark: hsl(206,85.9%,16.7%);

    --comb: hsl(356,74.4%,42.9%);
    --comb-dark: hsl(353,73.3%,26.5%);

    --beak: hsl(26,74.4%,42.9%);

    --foot: hsl(37,93.8%,74.5%);

    --feather-1: hsl(12,21.7%,4.5%);
    --feather-2: hsl(20,6.7%,17.6%);
    --feather-3: hsl(40,13.6%,34.5%);
    --feather4: hsl(35,11%,69.6%);

    --beige: hsl(47,94.9%,92.4%);

    --green: hsl(116,74.4%,42.9%);
    --yellow-green: hsl(86,74.4%,42.9%);
    --teal: hsl(176,74.4%,42.9%);
    --purple: hsl(266,74.4%,42.9%);

    --color-primary: hsl(356,74.4%,42.9%);
}
